# Python
backend/venv/
backend/__pycache__/
*.pyc

# Uploads
backend/uploads/

# Node
frontend/frontend/node_modules/
frontend/frontend/.next/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db